<div class="p-10">
    <table class="table table-bordered table-responsive" id="IdTabla-@ViewBag.Id" style="width: 100%;">
        <thead>
            <tr>
                <th>Cód. Ítem</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Máquina</th>
                <th>Lote</th>
                <th>Técnico</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
    $("#IdTabla-" + '@ViewBag.Id').dataTable({
        responsive: true,
        sDom: "Tlfrtip",
        paging:true,
        ajax:{
            url: '@Url.Action("CargarTablaDetalleSalida", "Salida")',
            data: {IdSalida: '@ViewBag.Id'},
            type: "GET",
            global: false,
            dataSrc: function (data) { return data; }
        },
        columns: [
             
              {
                  data: "cod_item"
              },

              {
                  data: "cant_aentregar"
              },

              {
                  data: "descripcion"
              },

              {
                  data: "maquina"
              },

              {
                  data: "lote"
              },

              {
                  data: "tecnico"
              }
        ]
    });

</script>
